@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&amp;display=swap');
body {
  font-family: Rubik,sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: -1;
}
#root::before {
  content: "";
  height: 200%;
  width: 200%;
  border-radius: 100%;
  position: fixed;
  top: 30%;
  left:  0;
  transform: translateX(-25%);
  background-color: #F6C90E;
  animation: wave-animate 20s ease-in-out infinite alternate;

}

@keyframes wave-animate {
  0% {
    top: 50%
  }
  20% {
    top: 55%
  }
  40% {
    top: 60%
  }
  60% {
    top: 65%
  }
  80% {
    top: 70%
  }
  100% {
    top: 75%;
  }
}